extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod placeat tempore iste, laudantium a maiores eum dolorem error nihil, iusto natus rerum reiciendis et sint nobis, nemo voluptate accusamus excepturi.
                    | ]Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsa eum, molestiae quidem eaque exercitationem consectetur. Voluptate ex cupiditate optio consequuntur voluptatum necessitatibus magnam aspernatur! Animi placeat reiciendis excepturi at?
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam molestias soluta asperiores officia consequuntur cupiditate minima, sed quod quos, optio sapiente praesentium fugit accusantium impedit quis? Beatae distinctio deserunt ea.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod placeat tempore iste, laudantium a maiores eum dolorem error nihil, iusto natus rerum reiciendis et sint nobis, nemo voluptate accusamus excepturi.
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsa eum, molestiae quidem eaque exercitationem consectetur. Voluptate ex cupiditate optio consequuntur voluptatum necessitatibus magnam aspernatur! Animi placeat reiciendis excepturi at?
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam molestias soluta asperiores officia consequuntur cupiditate minima, sed quod quos, optio sapiente praesentium fugit accusantium impedit quis? Beatae distinctio deserunt ea.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod placeat tempore iste, laudantium a maiores eum dolorem error nihil, iusto natus rerum reiciendis et sint nobis, nemo voluptate accusamus excepturi.
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsa eum, molestiae quidem eaque exercitationem consectetur. Voluptate ex cupiditate optio consequuntur voluptatum necessitatibus magnam aspernatur! Animi placeat reiciendis excepturi at?
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam molestias soluta asperiores officia consequuntur cupiditate minima, sed quod quos, optio sapiente praesentium fugit accusantium impedit quis? Beatae distinctio deserunt ea.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam temporibus expedita asperiores quos natus recusandae esse aspernatur vitae, tenetur minima, alias eaque dolor eligendi quas repellendus, sequi modi hic consequatur!
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis modi non ad fugiat perspiciatis aperiam ab quisquam voluptates sint deserunt. Ipsam, sint. Praesentium quo aliquid perferendis, eos nostrum quae nobis!
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam temporibus expedita asperiores quos natus recusandae esse aspernatur vitae, tenetur minima, alias eaque dolor eligendi quas repellendus, sequi modi hic consequatur!
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis modi non ad fugiat perspiciatis aperiam ab quisquam voluptates sint deserunt. Ipsam, sint. Praesentium quo aliquid perferendis, eos nostrum quae nobis!
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam temporibus expedita asperiores quos natus recusandae esse aspernatur vitae, tenetur minima, alias eaque dolor eligendi quas repellendus, sequi modi hic consequatur!
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis modi non ad fugiat perspiciatis aperiam ab quisquam voluptates sint deserunt. Ipsam, sint. Praesentium quo aliquid perferendis, eos nostrum quae nobis!